/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --body-color: #e4e4e4;
  --sidebar-color: #f2eae1;
  --primary-color: #00c1fe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #000000;
  --color-button: #0500fe;
  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

button {
  font-style: normal;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
  border: none;
  text-align: center;
  border-radius: 8px;
  font-size: clamp(9px, 8vw, 18px);
  font-weight: 600;
  padding: 0 1rem;
  height: 50px;
  &:active {
    transform: scale(0.95);
    background-color: var(--secondary);
  }
}
/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  padding: 1rem 2rem;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}
.sidebar.close {
  width: 88px;
  padding: 1rem;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* .sidebar header .image,
.sidebar .icon{
} */

.sidebar .icon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text {
  opacity: 0;
}
/* =========================== */

.sidebar header {
  position: relative;
  display: flex;
  text-align: left;
  height: 70px;
  align-items: center;
}

.sidebar header .image-text {
  padding-left: 1rem;
  border-left: 4px solid var(--color-button);
}
.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}
header .image-text .name {
  margin-top: 2px;
  font-size: 20px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}
/* .sidebar li a:hover .icon,
.sidebar li a:hover .text{
    
} */
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.menu-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}
.menu-profile .menu-profile-img {
  height: 130px;
  width: 130px;
}

.menu-profile .menu-profile-img img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
}

.menu-profile h5 {
  color: var(--primary-color);
  font-weight: 500;
}

.sidebar .menu-bar {
  height: calc(100% - 406px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
  display: none;
}
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
  display: flex;
  padding: 1rem;
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 20px;
}

.mode .sun-moon i {
  position: absolute;
}
.mode .sun-moon i.sun {
  opacity: 0;
}
body.dark .mode .sun-moon i.sun {
  opacity: 1;
}
body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.bottom-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}

.home {
  position: absolute;
  top: 0;
  top: 0;
  left: 300px;
  height: 100vh;
  width: calc(100% - 300px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}

.home-body {
  padding: 2rem;
  height: calc(100% - 78px);
}

.body-title {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.body-button button {
  width: 180px;
  background-color: var(--color-button);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.body-button button span {
  color: var(--primary-color-light);
  font-size: 14px;
}

.body-button button i {
  color: var(--primary-color-light);
  font-size: 20px;
}

.body-table {
  width: 100%;
  margin-top: 1.5rem;
}

.body-table table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #eaecf0;
}

.body-table table thead {
  color: #667085;
  font-size: 14px;
  font-weight: 100;
  height: 50px;
  border: 1px solid #eaecf0;
}

.body-table table thead th {
  padding: 15px;
  font-weight: normal !important;
  text-align: center;
}

.body-table table tbody td {
  padding: 15px;
}

.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 1rem 2rem;
  background-color: var(--primary-color-light);
  display: flex;
  border: none;
}

.sidebar.close ~ .home {
  left: 88px;
  height: 100vh;
  width: calc(100% - 88px);
}
body.dark .home .text {
  color: var(--text-color);
}

.btns-actions {
  display: flex;
  gap: 0.5rem;
}

.btnL {
  height: 40px;
  width: 40px;
  color: var(--primary-color-light);
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.btn i {
  font-size: 20px;
}

.btn-success {
  background-color: #198754;
}

.btn-success:hover {
  background-color: #0a311f;
}

.btn-primary {
  background-color: #0d6efd;
}

.btn-primary:hover {
  background-color: #094cb1;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #9c2935;
}

ol, ul {
padding: 0 !important;
}

.nav-link{
    padding:0 !important;
}